html {
  height: 100%
}

body {
  background-color: $light;
  height: 100vh;
}

body .subtitle,
body .title {
  color: $dark;
}

body.dark {
  background-color: $dark;
  color: $light;
}

body.dark .subtitle,
body.dark .title {
  color: $light;
}
