@charset "utf-8";
@import "../../../../../lib/bulma/bulma.sass";

// Auxiliary
@import "../../../../../lib/bulma-prefers-dark/bulma-prefers-dark.sass";


// Animations
body {
  transition: all 0.4s ease;
}

.no-transition {
  -o-transition: none !important;
  -ms-transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}
