@charset "utf-8";

// Libs
$fa-font-path: "../../webfonts";

@import "../../../../../lib/bulma/bulma.sass";
@import "../../../../../lib/Font-Awesome/scss/fontawesome";
@import "../../../../../lib/Font-Awesome/scss/solid";
@import "../../../../../lib/Font-Awesome/scss/brands";

// Custom modules
@import "colors";
@import "tiles";


// Set background
html, body {
  min-height: 100%;
}

html {
  background-color: $bg;
}

// Icon colors
.fa-brands.fa-github {
  color: $black
}

.fa-brands.fa-discord {
  color: #5865F2
}
