<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Mike Almeloo</title>

    {% block head %}
    {% endblock %}

    <!-- libraries -->
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{{ static('home/scss/home.scss') }}"/>
    {% endcompress %}
    {% compress js %}
        <script src="{{ static('home/js/tiles.js') }}" defer></script>
    {% endcompress %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
