{% extends "home/base.html" %}

{% block title %}Home{% endblock %}
{% block body %}
    {% include('home/_templates.html') %}

    <section class="section">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-parent">
                    <about-me-tile class="web-tile has-subtle-gradient-bg">
                        <span slot="title">Hi! I'm Mike.</span>
                        <span slot="description">I'm a 19 year old computer science student from the Netherlands.</span>

                        <a slot="socials" class="icon is-large mr-4" href="https://github.com/DismissedGuy">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a slot="socials" class="icon is-large mr-4">
                            <i class="fa-brands fa-discord"></i>
                        </a>
                    </about-me-tile>

                    <spotify-tile class="web-tile has-green-gradient-bg">

                    </spotify-tile>
                </div>
                <div class="tile is-vertical is-parent">
                    <about-me-tile class="web-tile">

                    </about-me-tile>
                    <about-me-tile class="web-tile">

                    </about-me-tile>
                    <about-me-tile class="web-tile">

                    </about-me-tile>
                    <about-me-tile class="web-tile">

                    </about-me-tile>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
