{% load utils %}

<template id="about-me-tile">
    <div class="tile is-child is-primary">
        <p class="is-size-1">{% choice "🐇" "🦜" "🦦" "🐓" "🐌" "🐖" %}</p>

        <p class="title">
            <slot name="title">About me</slot>
        </p>
        <br/>

        <p class="subtitle">
            <slot name="description">Description goes here</slot>
        </p>
        <p class="is-size-2">
            <slot name="socials">Socials!</slot>
        </p>
    </div>
</template>

<template id="spotify-tile">
    <div class="tile is-child is-primary">
        <div class="track-list">
            <article class="media spotify-track">
                <figure class="media-left">
                    <div class="image is-64x64 overlay-container">
                        <img src="" alt="">
                        <div class="overlay music-control">
                            <i class="fa-solid fa-spinner spinning"></i>
                        </div>
                    </div>
                </figure>

                <div class="media-content">
                    <p class="title is-4">
                        <a>Loading...</a>
                    </p>
                    <p class="subtitle is-6">
                        <a></a>
                    </p>
                </div>
            </article>
        </div>

        <span class="icon pin-bottom-right toggle-expand">
            <i class="fa-solid fa-chevron-down"></i>
        </span>
        <a class="icon pin-top-right icon" style="font-size: 1.5em; color: #1ED760" href="https://spotify.com">
            <i class="fa-brands fa-spotify"></i>
        </a>
    </div>
</template>
