<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mikealmel.ooo - Admin</title>
  </head>

  <body>
    <h1>Mikealmel.ooo - Admin (CONFIDENTIAL)</h1>
    <p>WARNING: The source IP is not in the allowlist. Reporting website access</p>
    <br/>
    <p>{{ headers }}{% if country_code %} ({{ country_code }}){% endif %}</p>

    <button onclick="alert('{{ ip }}\n\nI am coming for you and your family')">Log In</button>
  </body>
</html>
